<% provide(:title, "Home") %>
<div id="wd-content-container">
  <div class="container">     
    <div class="row mbt">
      <div class="wd-header-line col-lg1-12 col-md-12 col-sm-12 col-xs-12">
        <div class="wd-section bg1" id="slider">
          <%= render 'layouts/slider' %>
        </div>
      </div>  
    </div>  
    <hr>
    <div class="row mbt">
      <div class="wd-header-line col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="wd-section bg1">
          <p>Top voting place</p>
          <div class="row">
            <div class="col-md-4">
              <div class="image-wrapper">
                <div class="list-notes">
                  <a href="#" class="show-notes">
                    <%= image_tag "place.jpg", alt: "Images" %>
                  </a>
                </div>
              </div>
              <h3>Place 1</h3>
              <span class="glyphicon glyphicon-cutlery">Food type</span><br>
              <span class="glyphicon glyphicon-map-marker">Address</span>
            </div>
            <div class="col-md-4">
              <div class="image-wrapper">
                <div class="list-notes">
                  <a href="#" class="show-notes">
                    <%= image_tag "place.jpg", alt: "Images" %>
                  </a>
                </div>
              </div>
              <h3>Place 1</h3>
              <span class="glyphicon glyphicon-cutlery">Food type</span><br>
              <span class="glyphicon glyphicon-map-marker">Address</span>
            </div>
            <div class="col-md-4">
              <div class="image-wrapper">
                <div class="list-notes">
                  <a href="#" class="show-notes">
                    <%= image_tag "place.jpg", alt: "Images" %>
                  </a>
                </div>
              </div>
              <h3>Place 1</h3>
              <span class="glyphicon glyphicon-cutlery">Food type</span><br>
              <span class="glyphicon glyphicon-map-marker">Address</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="image-wrapper">
                <div class="list-notes">
                  <a href="#" class="show-notes">
                    <%= image_tag "place.jpg", alt: "Images" %>
                  </a>
                </div>
              </div>
              <h3>Place 1</h3>
              <span class="glyphicon glyphicon-cutlery">Food type</span><br>
              <span class="glyphicon glyphicon-map-marker">Address</span>
            </div>
            <div class="col-md-4">
              <div class="image-wrapper">
                <div class="list-notes">
                  <a href="#" class="show-notes">
                    <%= image_tag "place.jpg", alt: "Images" %>
                  </a>
                </div>
              </div>
              <h3>Place 1</h3>
              <span class="glyphicon glyphicon-cutlery">Food type</span><br>
              <span class="glyphicon glyphicon-map-marker">Address</span>
            </div>
            <div class="col-md-4">
              <div class="image-wrapper">
                <div class="list-notes">
                  <a href="#" class="show-notes">
                    <%= image_tag "place.jpg", alt: "Images" %>
                  </a>
                </div>
              </div>
              <h3>Place 1</h3>
              <span class="glyphicon glyphicon-cutlery">Food type</span><br>
              <span class="glyphicon glyphicon-map-marker">Address</span>
            </div>
          </div>
          <%= link_to "See more", "#", class: "btn btn-primary text-center btn-small" %>
        </div>
      </div>  
    </div>
    <hr>
    <div class="row mbt">
      <div class="wd-header-line col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="wd-section bg1">
          <p>Event and Sale off</p>
          <div class="row">
            <div class="col-md-4">
              <div class="image-wrapper">
                <div class="list-notes">
                  <a href="#" class="show-notes">
                    <%= image_tag "place.jpg", alt: "Images" %>
                  </a>
                </div>
              </div>
              <h3>Place 1</h3>
              <span class="glyphicon glyphicon-cutlery">Food type</span><br>
              <span class="glyphicon glyphicon-map-marker">Address</span>
            </div>
            <div class="col-md-4">
              <div class="image-wrapper">
                <div class="list-notes">
                  <a href="#" class="show-notes">
                    <%= image_tag "place.jpg", alt: "Images" %>
                  </a>
                </div>
              </div>
              <h3>Place 1</h3>
              <span class="glyphicon glyphicon-cutlery">Food type</span><br>
              <span class="glyphicon glyphicon-map-marker">Address</span>
            </div>
            <div class="col-md-4">
              <div class="image-wrapper">
                <div class="list-notes">
                  <a href="#" class="show-notes">
                    <%= image_tag "place.jpg", alt: "Images" %>
                  </a>
                </div>
              </div>
              <h3>Place 1</h3>
              <span class="glyphicon glyphicon-cutlery">Food type</span><br>
              <span class="glyphicon glyphicon-map-marker">Address</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="image-wrapper">
                <div class="list-notes">
                  <a href="#" class="show-notes">
                    <%= image_tag "place.jpg", alt: "Images" %>
                  </a>
                </div>
              </div>
              <h3>Place 1</h3>
              <span class="glyphicon glyphicon-cutlery">Food type</span><br>
              <span class="glyphicon glyphicon-map-marker">Address</span>
            </div>
            <div class="col-md-4">
              <div class="image-wrapper">
                <div class="list-notes">
                  <a href="#" class="show-notes">
                    <%= image_tag "place.jpg", alt: "Images" %>
                  </a>
                </div>
              </div>
              <h3>Place 1</h3>
              <span class="glyphicon glyphicon-cutlery">Food type</span><br>
              <span class="glyphicon glyphicon-map-marker">Address</span>
            </div>
            <div class="col-md-4">
              <div class="image-wrapper">
                <div class="list-notes">
                  <a href="#" class="show-notes">
                    <%= image_tag "place.jpg", alt: "Images" %>
                  </a>
                </div>
              </div>
              <h3>Place 1</h3>
              <span class="glyphicon glyphicon-cutlery">Food type</span><br>
              <span class="glyphicon glyphicon-map-marker">Address</span>
            </div>
          </div>
          <%= link_to "See more", "#", class: "btn btn-primary text-center btn-small" %>
        </div>
      </div>  
    </div>
    <hr>
    <div class="row mbt">
      <div class="wd-header-line col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="wd-section bg1">
          <p>Around your location</p>
          <div class="row">
            <div class="col-md-4">
              <div class="image-wrapper">
                <div class="list-notes">
                  <a href="#" class="show-notes">
                    <%= image_tag "place.jpg", alt: "Images" %>
                  </a>
                </div>
              </div>
              <h3>Place 1</h3>
              <span class="glyphicon glyphicon-cutlery">Food type</span><br>
              <span class="glyphicon glyphicon-map-marker">Address</span>
            </div>
            <div class="col-md-4">
              <div class="image-wrapper">
                <div class="list-notes">
                  <a href="#" class="show-notes">
                    <%= image_tag "place.jpg", alt: "Images" %>
                  </a>
                </div>
              </div>
              <h3>Place 1</h3>
              <span class="glyphicon glyphicon-cutlery">Food type</span><br>
              <span class="glyphicon glyphicon-map-marker">Address</span>
            </div>
            <div class="col-md-4">
              <div class="image-wrapper">
                <div class="list-notes">
                  <a href="#" class="show-notes">
                    <%= image_tag "place.jpg", alt: "Images" %>
                  </a>
                </div>
              </div>
              <h3>Place 1</h3>
              <span class="glyphicon glyphicon-cutlery">Food type</span><br>
              <span class="glyphicon glyphicon-map-marker">Address</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="image-wrapper">
                <div class="list-notes">
                  <a href="#" class="show-notes">
                    <%= image_tag "place.jpg", alt: "Images" %>
                  </a>
                </div>
              </div>
              <h3>Place 1</h3>
              <span class="glyphicon glyphicon-cutlery">Food type</span><br>
              <span class="glyphicon glyphicon-map-marker">Address</span>
            </div>
            <div class="col-md-4">
              <div class="image-wrapper">
                <div class="list-notes">
                  <a href="#" class="show-notes">
                    <%= image_tag "place.jpg", alt: "Images" %>
                  </a>
                </div>
              </div>
              <h3>Place 1</h3>
              <span class="glyphicon glyphicon-cutlery">Food type</span><br>
              <span class="glyphicon glyphicon-map-marker">Address</span>
            </div>
            <div class="col-md-4">
              <div class="image-wrapper">
                <div class="list-notes">
                  <a href="#" class="show-notes">
                    <%= image_tag "place.jpg", alt: "Images" %>
                  </a>
                </div>
              </div>
              <h3>Place 1</h3>
              <span class="glyphicon glyphicon-cutlery">Food type</span><br>
              <span class="glyphicon glyphicon-map-marker">Address</span>
            </div>
          </div>
          <%= link_to "See more", "#", class: "btn btn-primary text-center btn-small" %>
        </div>
      </div>  
    </div>
    <hr>
    <div class="row">
      <div class="wd-header-line col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="wd-section bg1">
          <p>Top voting place</p>
          <div class="row">
            <div class="col-md-4">
              <div class="image-wrapper">
                <div class="list-notes">
                  <a href="#" class="show-notes">
                    <%= image_tag "place.jpg", alt: "Images" %>
                  </a>
                </div>
              </div>
              <h3>Place 1</h3>
              <span class="glyphicon glyphicon-cutlery">Food type</span><br>
              <span class="glyphicon glyphicon-map-marker">Address</span>
            </div>
            <div class="col-md-4">
              <div class="image-wrapper">
                <div class="list-notes">
                  <a href="#" class="show-notes">
                    <%= image_tag "place.jpg", alt: "Images" %>
                  </a>
                </div>
              </div>
              <h3>Place 1</h3>
              <span class="glyphicon glyphicon-cutlery">Food type</span><br>
              <span class="glyphicon glyphicon-map-marker">Address</span>
            </div>
            <div class="col-md-4">
              <div class="image-wrapper">
                <div class="list-notes">
                  <a href="#" class="show-notes">
                    <%= image_tag "place.jpg", alt: "Images" %>
                  </a>
                </div>
              </div>
              <h3>Place 1</h3>
              <span class="glyphicon glyphicon-cutlery">Food type</span><br>
              <span class="glyphicon glyphicon-map-marker">Address</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="image-wrapper">
                <div class="list-notes">
                  <a href="#" class="show-notes">
                    <%= image_tag "place.jpg", alt: "Images" %>
                  </a>
                </div>
              </div>
              <h3>Place 1</h3>
              <span class="glyphicon glyphicon-cutlery">Food type</span><br>
              <span class="glyphicon glyphicon-map-marker">Address</span>
            </div>
            <div class="col-md-4">
              <div class="image-wrapper">
                <div class="list-notes">
                  <a href="#" class="show-notes">
                    <%= image_tag "place.jpg", alt: "Images" %>
                  </a>
                </div>
              </div>
              <h3>Place 1</h3>
              <span class="glyphicon glyphicon-cutlery">Food type</span><br>
              <span class="glyphicon glyphicon-map-marker">Address</span>
            </div>
            <div class="col-md-4">
              <div class="image-wrapper">
                <div class="list-notes">
                  <a href="#" class="show-notes">
                    <%= image_tag "place.jpg", alt: "Images" %>
                  </a>
                </div>
              </div>
              <h3>Place 1</h3>
              <span class="glyphicon glyphicon-cutlery">Food type</span><br>
              <span class="glyphicon glyphicon-map-marker">Address</span>
            </div>
          </div>
          <%= link_to "See more", "#", class: "btn btn-primary text-center btn-small" %>
        </div>
      </div>  
    </div>
  </div>
</div>