
<div id="wd-footer-container">
  <div class="container">     
    <div class="row">
      <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <p>Copyright © Site name, 20XX</p>
      </div> -->
      <div class="col-md-4">
        <ul><span class="head-footer">Links</span>
          <li><%= image_tag "facebook.png" %> <%= link_to "Facebook", "#"  %></li>
          <li><%= image_tag "google_plus.png" %> <%= link_to "Google Plus", "#" %></li>
          <li><%= image_tag "youtube.png" %> <%= link_to "Youtube", "#" %></li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul><span class="head-footer">Contact</span>
          <li><%= image_tag "map.png" %> <%= link_to "54 Nguyen Luong Bang Street", "#" %></li>
          <li><%= image_tag "phone.png" %> <%= link_to "(+84) 123 456 789", "#"  %></li>
          <li><%= image_tag "email.png" %> <%= link_to "foody-social@foody.vn", "#" %></li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul><span class="head-footer">Help</span>
          <li><%= image_tag "faq.png" %> <%= link_to "FAQs", "#" %></li>
          <li><%= image_tag "about_us.png" %> <%= link_to "About us", "#" %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
